* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: rgb(244, 243, 241);
  box-sizing: border-box;
  overflow: hidden;
}

.d-flex {
  display: flex;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.p-10 {
  padding: 10px;
}

.btn-primary {
  background: rgb(58, 58, 216);
  padding: 8px 12px;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  font-size: x-large;
}
.font {
  font-size: small;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 100%;
  background: white;
  margin: 8px 8px 8px 8px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: -2px -2px 40px rgb(219, 218, 218);
}
.container .sidebar {
  position: relative;
  height: 100%;
  width: 20vw;
  left: 0px;
  background: rgb(108, 110, 250);
  transition: 0.3s;
}
.sidebar.active {
  position: relative;
  width: 5vw;
  transition: ease-in-out 0.5s;
}
.sidebar .brand {
  position: absolute;
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-left: -10px;
}
.brand .logo {
  height: 100%;
  width: 19%;
  padding: 5px;
  margin-left: 20px;
}

/* active */
.logo.active{
  width: 100%;
}


.logo img {
  height: 100%;
  width: 100%;
}
.brand .brand-name {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* active */
.brand-name.active{
  display: none;
}


.container .list-groups {
  position: absolute;
  height: 100%;
  margin-top: 100px;
  margin-left: 7px;
  /* background: red; */
}
ul {
  width: 100%;
  list-style: none;
}
ul li {
  height: 50px;
  width: 18vw;
  margin: 20px 6px;
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: left;
  align-items: center;
  /* padding: 20px 20px; */
  transition: all ease-in 0.2s;
}
li .icon {
  width: 20%;
  margin: 0px 10px;
}
li .text {
  margin-left: -15px;
  font-weight: 500;
}
ul li:hover {
  /* background: white; */
  background: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

ul li:hover .text {
  color: rgb(108, 110, 250);
}

/* home section starts here  */
#home {
  /* position: relative; */
  height: 100%;
  width: 100%;
  /* left: 400px; */
  /* background: red; */
  z-index: 1000;
}
.head {
  height: 50px;
  width: 100%;
  background: white;
  padding: 0px 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars {
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
}
.form {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid rgb(191, 189, 189);
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  transform-origin: left;
  cursor: pointer;
}
.form input {
  height: 100%;
  width: 250px;
  background: transparent;
  margin-left: 5px;
  border: none;
  outline: none;
  display: none;
}
.head .user {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px rgb(210, 208, 208);
}
.user .fa-solid {
  font-size: 30px;
}

/* main */
.main {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  /* background: red; */
}
.main .top {
  height: 70%;
  width: 100%;
  min-width: 100%;
  background: white;
  margin-top: 50px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* margin: 100px; */
}
.main .top .item {
  height: 70%;
  width: 90%;
  box-shadow: 2px 2px 50px rgb(208, 206, 206);
  margin: 0px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
  cursor: pointer;
}
.top .item:hover {
  background: rgb(105, 88, 237);
  transition: all 0.5s;
}
.top .item:hover .text {
  color: white;
}
.row {
  height: 100%;
  width: 100%;
  padding: 4px;
  /* background: red; */
}
.row .recent-order {
  height: 100%;
  line-height: 100%;
  width: 60%;
  background: white;
  margin: 20px;
  box-shadow: 2px 2px 20px rgb(211, 210, 210);
  border-radius: 15px;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
table thead th {
  border: none;
  background: rgb(87, 87, 199);
}
table tr {
  border-bottom: 1px solid black;
  height: 40px;
}
/* table tr:nth-child(odd){
    background: rgb(228, 228, 228);
} */
table tr:hover:nth-child(even) {
  background: rgb(228, 228, 228);
}
tr td button {
  background: green;
  border: none;
  border-radius: 10px;
  padding: 2px 4px;
}
tr td button::nth-child(2) {
  background: yellow;
}

@media only screen and (max-width: 600px) {
  /* .container .sidebar {
    height: 100%;
    width: 20vw;
    background: rgb(108, 110, 250);
    transition: 0.3s;
    z-index: 1000;
  } */
  .container .sidebar {
  position: relative;
  height: 100%;
  width: 20vw;
  left: 0px;
  background: rgb(108, 110, 250);
  transition: 0.3s;
}





.sidebar.active {
  position: relative;
  width: 7vw;
  transition: ease-in-out 0.5s;
}

.logo.active{
  width: 100%;
}






  .main .top {
    height: 70%;
    width: 100%;
    min-width: 100%;
    background: white;
    margin-top: 50px;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: auto auto;
    /* margin: 100px; */
    z-index: 1000;
  }



.main .top .item {
    height: 70%;
    width: 90%;
    box-shadow: 2px 2px 50px rgb(208 206 206);
    margin: 0px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
}




  .sidebar .brand {
    position: absolute;
    height: 23px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
    margin-left: -10px;
    font-size: 10px;
  }
  .brand .brand-name {
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  .container .list-groups {
    position: absolute;
    height: 100%;
    margin-top: 100px;
    margin-left: -2px;
  }

  ul li {
    height: 37px;
    width: 16vw;
    margin: 20px 13px;
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: left;
    align-items: center;
    padding: 8px 4px;
    transition: all ease-in 0.2s;
    font-size: 13px;
  }

 li .text {
    margin-left: 4px;
    font-weight: 500;
}

li .icon {
    width: 20%;
    margin: 0px 1px;
}
}





@media only screen and (max-width: 500px) {

.container .sidebar {
position: relative;
    height: 100%;
    width: 100vw;
    background: rgb(108, 110, 250);
    transition: 0.3s;
    z-index: 9985;
}
.sidebar.active {
  position: relative;
  width: 0vw;
  transition: ease-in-out 0.5s;
  z-index: 1000;
}


ul li {
    height: 37px;
    width: 46vw;
    margin: 20px 13px;
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: left;
    align-items: center;
    padding: 8px 4px;
    transition: all ease-in 0.2s;
    font-size: 13px;
}





.form{
  display: none;
}
.main .top {
    height: 100%;
    width: 100%;
    min-width: 100%;
    background: white;
    margin-top: -76px;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: auto;
    /* margin: 100px; */
    z-index: 1000;
    overflow: auto;
}







.main .top .item {
    height: 84%;
    width: 92%;
    box-shadow: 2px 2px 50px rgb(208 206 206);
    margin: 34px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    cursor: pointer;
}




}
